@inject IJSRuntime js;

<div style="display:flex; flex-wrap:wrap; align-items:center;">

    <ListadoGenericoComponent Listado="Peliculas">
        <HayRegistros Context="pelicula">
            <PeliculaComponent Pelicula=pelicula                              
                               EliminarPelicula="ElininarPelicula" />
        </HayRegistros>
    </ListadoGenericoComponent>

</div>

@code {



    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }


    private async Task ElininarPelicula(Pelicula pelicula)
    {
        bool confirmado = await js.Confirm($"Desea borrar la pelicula {pelicula.Titulo } ?");
        js.Clg("Texto");

        if (confirmado)
        {
            Peliculas!.Remove(pelicula);
        }

    }


}
