<div class="mt-3">

@if (Peliculas is null)
{
    <img alt="Cargando"
         src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" />
}
else if (Peliculas.Count < 1)
{
    <p>
        No hay películas para mostrar.
    </p>
}
else
{
    <div>
        @* <input type="checkbox"  @onchange="@( ()=> MostrarBotones = !MostrarBotones )"/> *@
        <input type="checkbox" @bind="MostrarBotones"/>
        <span>Mostrar botones</span>
    </div>    

    @foreach (var pelicula in Peliculas)
    {
            <PeliculaComponent Pelicula=pelicula MostrarBotones="MostrarBotones" />
    }
} 
</div>

@code {

    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }

    bool MostrarBotones = false;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);        
    }


}
