@page "/actores/crear"
@inject NavigationManager navigationManager;
@inject IRepositorio repositorio
@inject SweetAlertService swal

<h3>CrearActorComponent</h3>

<FormularioActoresComponent Actor="Actor" OnValidSubmit="Crear" />

@code {
    private Actor Actor = new Actor();

    private async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/actores", Actor);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {            
            navigationManager.NavigateTo("generos");
        }

    }
}
