@page "/peliculas/crear"
@inject NavigationManager navigationManager

<h3>CrearPeliculaComponent</h3>
<button
    class="btn btn-outline-primary"    
    @onclick="Crear"
>Crear</button>

@code {
    private void Crear()
    {
        Console.WriteLine(navigationManager.BaseUri);
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("pelicula");
    }
}
