@page "/peliculas/crear"
@inject NavigationManager navigationManager

<h3>CrearPeliculaComponent</h3>

<FormularioPeliculasComponent Pelicula="Pelicula" OnValidSubmit="Crear"/>

@code {
    private Pelicula Pelicula = new Pelicula();

    private void Crear()
    {
        Console.WriteLine(navigationManager.BaseUri);
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("pelicula");
    }
}
