@page "/generos/crear"

<h3>CrearGeneroComponent</h3>

<FormularioGeneroComponent Genero="Genero" OnValidSubmit="Crear" />

@code {
    private Genero Genero = new Genero();
    
    private void Crear()
    {
        Console.WriteLine("Ejecutando el método crear.");
        Console.WriteLine($"Nombre del género: { Genero.Nombre }");
    }

}
