@page "/generos/crear"
@inject NavigationManager navigationManager;
@inject IRepositorio repositorio
@inject SweetAlertService swal

<h3>CrearGeneroComponent</h3>

<FormularioGeneroComponent 
    @ref="formularioGeneroComponent"
    Genero="Genero" 
    OnValidSubmit="Crear" />

@code {
    private Genero Genero = new Genero();
    private FormularioGeneroComponent formularioGeneroComponent = null!;

    private async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/generos", Genero);

        if (httpResponse.Error)
        {
            await swal.FireAsync("Error", "Hubo un error.", SweetAlertIcon.Error);
        }
        else
        {
            formularioGeneroComponent.isTheFormProcessedSuccessfully = true;
            navigationManager.NavigateTo("generos");
        }
              
    }

}
