@page "/"
@inject ServicioSingleton servicioSingleton;


<p>
    @servicioSingleton.Valor
</p>

<div>
    <h3>Películas</h3>
    @* <ListadoPaliculasComponent Peliculas=ObtenerPeliculas() />     *@
    <ListadoPaliculasComponent Peliculas=ObtenerPeliculas() />  
</div>

<hr />

<BindAfterComponent />

<div>
    <EjemploTextboxComponent placeholder="Nombre película" />
    <EjemploTextboxComponent placeholder="Nombre película" disabled="true" />
    <EjemploTextboxComponent @attributes=@(new Dictionary<string, object>(){
                             {"placeholder","Peliculas PH Dictionary"},
                             {"disabled","true"}
                             }) />
    <EjemploTextboxComponent @attributes="Atributos" />
    <EjemploTextboxComponent placeholder="Nombre película" disabled="true" />
    <EjemploTextboxComponent placeholder="Placeholder index" />
</div>

<BindingComponent />

<hr />

<BindingGetSetComponent />




@code {    
    public Dictionary<string, object> Atributos =
    new Dictionary<string, object>(){
                                        {"placeholder","Peliculas PH"},
                                        {"disabled","true"}
                                        };

    List<Pelicula> ObtenerPeliculas()
    {

        return new List<Pelicula>()
            {
                new Pelicula{ Titulo = "Wakanda Forever", FechaLanzamiento = new DateTime(2016,11,25) },
                new Pelicula{ Titulo = "Moana", FechaLanzamiento = new DateTime(2020,10,25) },
                new Pelicula{ Titulo = "inception", FechaLanzamiento = new DateTime(2023,9,15) }
            };
    }

}