@page "/"

<div>
    <h3>Películas</h3>
    @* <ListadoPaliculasComponent Peliculas=ObtenerPeliculas() /> *@
    <ListadoPaliculasComponent Peliculas=PeliculaList>
        <img alt="Cargando"
             src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" />
             <button>sfgsrfg</button>
    </ListadoPaliculasComponent>
</div>

<hr />

<BindAfterComponent />

<div>
    <EjemploTextboxComponent placeholder="Nombre película" />
    <EjemploTextboxComponent placeholder="Nombre película" disabled="true" />
    <EjemploTextboxComponent @attributes=@(new Dictionary<string, object>(){
                             {"placeholder","Peliculas PH Dictionary"},
                             {"disabled","true"}
                             }) />
    <EjemploTextboxComponent @attributes="Atributos" />
    <EjemploTextboxComponent placeholder="Nombre película" disabled="true" />
    <EjemploTextboxComponent placeholder="Placeholder index" />
</div>

<BindingComponent />

<hr />

<BindingGetSetComponent />




@code {

    public List<Pelicula>? PeliculaList { get; set; }

    public Dictionary<string, object> Atributos = 
    new Dictionary<string, object>(){
                                        {"placeholder","Peliculas PH"},
                                        {"disabled","true"}
                                    };

    //List<Pelicula> ObtenerPeliculas()
    async Task ObtenerPeliculas()
    {
        await Task.Delay(3000);
        
        PeliculaList = new List<Pelicula>()
        {
            new Pelicula { Titulo = "Wakanda Forever", FechaLanzamiento = new DateTime(2016, 11, 25) },
            new Pelicula { Titulo = "Moana", FechaLanzamiento = new DateTime(2020, 10, 25) },
            new Pelicula { Titulo = "inception", FechaLanzamiento = new DateTime(2023, 9, 15) }
            };



        // return new List<Pelicula>()
        //     {
        //         new Pelicula{ Titulo = "Wakanda Forever", FechaLanzamiento = new DateTime(2016,11,25) },
        //         new Pelicula{ Titulo = "Moana", FechaLanzamiento = new DateTime(2020,10,25) },
        //         new Pelicula{ Titulo = "inception", FechaLanzamiento = new DateTime(2023,9,15) }
        //     };



    }

    protected override async Task OnInitializedAsync()
    {
//        await Task.Delay(3000);
        await ObtenerPeliculas();
    }

}