@page "/"
@page "/index"

@inject IRepositorio repositorio;

<PageTitle>Blazor Películas</PageTitle>

<AuthorizeView Roles="admin">
    <Authorized>
        <p>Estás autenticado, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>No autenticado</p>
    </NotAuthorized>
</AuthorizeView>

<div>
    <h3>En cartelera</h3>
    <ListadoPaliculasComponent Peliculas="PeliculasEnCartelera" />
</div>

<div>
    <h3>Próximos Extrenos</h3>
    <ListadoPaliculasComponent Peliculas="ProximosExtrenos" />
</div>


@code {

    public List<Pelicula>? Peliculas { get; set; }

    public List<Pelicula>? PeliculasEnCartelera { get; set; }
    public List<Pelicula>? ProximosExtrenos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var respuestaHttp = await repositorio.Get<HomePageDTO>("api/peliculas");
        PeliculasEnCartelera = respuestaHttp.Response!.PeliculasEnCartelera;
        ProximosExtrenos = respuestaHttp.Response!.ProximosExtrenos;
    }

}